doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.00")
    link(rel='stylesheet', href='/stylesheets/general.css')
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
  body
    script(src="/javascripts/main.js" type="module" defer)
    block content
