h1 {
  margin-left: 12svw;
  font-size: 8svw;
}

section.pokedex {
  position: absolute;
  left: 8%;
  top: 16%;
  width: 46.5svw;
  height: 27.49vh;
  input {
    position: absolute;
    left: 50px;
    top: 5px;
    width: 110px;
    height: calc(67svh / 28);
    border-radius: 6px;
    outline: none;
    appearance: none;
    font-size: 0.7rem;
    :hover {
      appearance: none;
    }
  }
  section.display {
    position: absolute;
    top: 4.5svh;
    left: 8svw;
    width: 65%;
    height: 37%;
    img.pokemon {
      position: absolute;
      top: 0px;
      left: 0px;
    }
  }

  img.pokedex {
    width: 200px;
  }
}
